sudo -u www-data php  /var/www/nextcloud/occ app:install user_ldap
sudo -u www-data php  /var/www/nextcloud/occ app:enable user_ldap
sudo -u www-data php /var/www/nextcloud/occ ldap:create-empty-config

sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapBase {{ ldap_base_dn }}
{% if ldap_basegroups is defined %}
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapBaseGroups {{ ldap_basegroups }}
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapGroupFilter "(&(|(objectclass=groupOfNames)))"
{% endif %}
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapBaseUsers {{ ldap_base_dn }}
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapLoginFilter "(&(&(|(objectclass=inetOrgPerson))(|(memberof={{ ldap_service }})))(uid=%uid))"
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapUserFilter "(&(|(objectclass=inetOrgPerson))(|(memberof={{ ldap_service }})))"
#sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapUserFilterGroups "${NEXTCLOUD_LDAP_USER_FILTER_GROUPS}"
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapHost ldap://ldap.local
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapPort 389
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapAgentName {{ ldap_AgentName }}
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapAgentPassword "{{ ldap_AgentNamePassword }}"
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapQuotaAttribute pager
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapQuotaDefault "512 MB"

sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapUserFilterObjectclass inetOrgPerson
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapGroupFilterObjectclass groupOfNames
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapGroupMemberAssocAttr member
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapExpertUUIDGroupAttr cn
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapExpertUUIDUserAttr uid
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapGidNumber gidNumber
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapGroupDisplayName cn
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapEmailAttribute mail

sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' hasMemberOfFilterSupport 1
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' lastJpegPhotoLookup 0
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapCacheTTL 600
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapExperiencedAdmin 0  
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapGroupFilterMode 1  
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapLoginFilterEmail 0  
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapLoginFilterMode 0  
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapLoginFilterUsername 1  
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapNestedGroups 0  
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapPagingSize 500
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapTLS 0  
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapUserDisplayName displayname
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapUserFilterMode 0
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapUuidGroupAttribute auto
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapUuidUserAttribute auto
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' turnOffCertCheck 0
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' turnOnPasswordChange 0
sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' useMemberOfToDetectMembership 1

sudo -u www-data php  /var/www/nextcloud/occ ldap:set-config 's01' ldapConfigurationActive 1
