#!/bin/bash

user=$(cat /etc/nextcloud/credentials.txt | awk '{print substr($1, 1, length($1)-1)}')
secret=$(cat /etc/nextcloud/credentials.txt | awk '{print $2}')
curl --user $user:$secret -s https://{{ hostname }}/ocs/v2.php/apps/serverinfo/api/v1/info
