

sudo -u www-data php /var/www/nextcloud/occ config:system:set mail_smtpmode --type string --value="smtp"
sudo -u www-data php /var/www/nextcloud/occ config:system:set mail_smtpauthtype --type string --value="Plain"
sudo -u www-data php /var/www/nextcloud/occ config:system:set mail_smtphost --type string --value="localhost"
sudo -u www-data php /var/www/nextcloud/occ config:system:set mail_smtpport --type string --value="25"
sudo -u www-data php /var/www/nextcloud/occ config:system:set mail_from_address --type string --value="no-reply"
sudo -u www-data php /var/www/nextcloud/occ config:system:set mail_domain --type string --value="{{ hostname }}"
