
sudo -u www-data php /var/www/nextcloud/occ config:app:set theming url --value="http://{{ hostname }}"
sudo -u www-data php /var/www/nextcloud/occ config:app:set theming color --value="#{{ nextcloud_theme_color }}"
sudo -u www-data php /var/www/nextcloud/occ config:app:set theming name --value="{{ nextcloud_theme_name }}"
sudo -u www-data php /var/www/nextcloud/occ config:app:set theming slogan --value="La nostra documentació"
sudo -u www-data php /var/www/nextcloud/occ config:system:set lost_password_link --value="https://www.commonscloud.coop/recover-password"
