#!/usr/bin/env bash

# Generate JSON for Nextcloud Coturn configuration
HOSTNAME="{{ hostname }}"
if [[ ! -f "/root/.coturn.auth-secret" ]]; then
  echo "/root/.coturn.auth-secret doesn't exist"
  exit 1
else
  TURN_SECRET=$(cat /root/.coturn.auth-secret)
  # \\ equates to \ and \" escapes the "
  echo "[{\\\"server\\\":\\\"${HOSTNAME}:5349\\\",\\\"secret\\\":\\\"${TURN_SECRET}\\\",\\\"protocols\\\":\\\"tcp\\\"}]"  
fi

